---
import SectionNotesLayout from "src/layouts/SectionNotesLayout.astro";
//import CardNoteSkeletor from "./CardNoteSkeletor.astro";
import type { NewsWithAuthorI } from "src/interfaces/news/newsInterface";
import CardNote from "./CardNote.astro";
import CardNoteSkeletor from "./CardNoteSkeletor.astro";
interface Props {
  notes: NewsWithAuthorI[];
  firstTitle: string;
  futbolTextColor: boolean
  secondTitle?:string;
  secondTitleColor?:string;
}

const { firstTitle, notes, futbolTextColor, secondTitle, secondTitleColor } = Astro.props;
---

<SectionNotesLayout idSection={`${firstTitle}-${secondTitle}`}>
  <h3 class="montserrat-alternates-semibold text-3xl">
    {firstTitle} de <span class={`${futbolTextColor ? "text-primary-20" : ""}`}>fut</span>bol <span class={`montserrat-alternates-bold ${secondTitleColor}`}>{secondTitle}</span>
  </h3>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl: 2xl:grid-cols-3 gap-8 place-items-center md:place-items-start"
  >
    {notes.length !== 0 ? (
      notes.map((note) => <CardNote note={note} />)
    ):(
      <p class="montserrat-alternates-medium text-2xl">
        ¡No hay <span class="lowercase">{firstTitle}</span> por mostrar por el momento!
      </p>
      <CardNoteSkeletor/>
    )}
  </div>
</SectionNotesLayout>
